.vs/
x64/
tmp/
FastClone/x64/
FastClone/FastClone/x64/
*.user
*.VC.db
*.VC.opendb
*.suo
*.pdb
*.obj
*.ilk
*.ipch
*.tlog
*.lastbuildstate
*.recipe
*.log
docs/
.cursor/
HARNESS_VERSION
build/
build_tests/
build_tests_cli/
build_delta/
Release/
Win32/
*.iobj
*.ipdb
*.exe

